@model CONTROLECT.Models.ProfessorModalidade

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Professor/Modalidade - Detalhe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataOperacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataOperacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdModalidadeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdModalidadeNavigation.NomeModalidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProfessorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProfessorNavigation.NomeProfessor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdProfessorModalidade" class="btn btn-success">Editar</a> |
    <a asp-action="Index" class="btn btn-info">Voltar</a>
</div>
