@model IEnumerable<CONTROLECT.Models.Faixa>

@{
    ViewData["Title"] = "Index";
}

<h4>Faixas - Listar</h4>

<p>
    <a asp-action="Create" class="btn btn-success btn-sm">Novo</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeFaixa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFaixa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFaixa" class="btn btn-primary btn-sm">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdFaixa" class="btn btn-info btn-sm">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFaixa" class="btn btn-danger btn-sm">Excluir</a>

            </td>
        </tr>
}
    </tbody>
</table>
