@*@model IEnumerable<CONTROLECT.Models.Mensalidade>*@
@* @model PagedList.IPagedList<CONTROLECT.Models.ItemVenda>
 *@

@model IEnumerable<CONTROLECT.Models.ItemVenda>

@{
    ViewData["Title"] = "Index";
}

<h4>Lançamentos da Loja - Listar</h4>

<p>
    <a asp-action="Create" class="btn btn-success btn-sm">Novo</a>
</p>


<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Item: @Html.DropDownList("ItemId", "--Selecione--")
            Data Inicial: <input type="date" name="DataInicial" value=@DateTime.Now.ToString("yyyy-MM-dd") />
            Data Final: <input type="date" name="DataFinal" value=@DateTime.Now.ToString("yyyy-MM-dd") />

        </p>
        <p>
            <input type="submit" value="Pesquisar" class="btn btn-primary" /> |
        </p>
    </div>
</form>


<table id="tblmensalidade" class="table table-striped table-bordered table-sm table w-auto text-xsmall">
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                Valor Unitário
            </th>

            <th>
                Quantidade
            </th>
            <th>
                Valor Total
            </th>
            <th>
                Forma Pgto
            </th>
            <th>
                Data da Venda
            </th>

            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdItemNavigation.NomeItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorUnitario) 
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
@*                 <select asp-for=@item.IdMes class="form-control small" asp-items="ViewBag.Meses" text="Selecione"></select>
 *@                
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.IdFormaPagamentoNavigation.NomeFormaPagamento)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DataVenda)
            </td>


            <td>

                <a asp-action="Edit" asp-route-id="@item.IdItemVenda" class="btn btn-primary btn-sm">Editar</a> |
                @*<a asp-action="Details" asp-route-id="@item.IdMensalidade" class="btn btn-info btn-sm">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMensalidade" class="btn btn-danger btn-sm">Excluir</a>*@
            </td>
        </tr>
        }
    </tbody>
</table>

@* 
<div>
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount

    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink("<<", "Index", new { pagina = 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
        @Html.Raw(" ");
        @Html.ActionLink("< Anterior", "Index", new { pagina = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
    }
    else
    {
        @:<<
        @Html.Raw(" ");
        @:< Anterior
    }

    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Próxima >", "Index", new { pagina = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
        @Html.Raw(" ");
        @Html.ActionLink(">>", "Index", new { pagina = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })
    }
    else
    {
        @:Próxima >
        @Html.Raw(" ")
        @:>>
    }
 *@</div>