@model IEnumerable<CONTROLECT.ViewModels.RelatorioPresencaVM>
@{
    ViewData["Title"] = "Index";
}

<h4>Lista de Presença</h4>

<p>
    <a asp-action="Create" class="btn btn-success btn-sm">Novo</a>
</p>


<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Nome: <input type="text" name="NomeAtleta" value="@ViewData["FiltroAtleta"]" />

            @*Modalidade: @Html.DropDownList("ModalidadeId", "--Selecione--")*@
            Professor: @Html.DropDownList("ProfessorId", "--Selecione--")
            @* Turno: @Html.DropDownList("TurnoId", "--Selecione--") *@
            Modalidade: @Html.DropDownList("ModalidadeId", "--Selecione--")

            <P>
            @*Data Presença: <input type="date" name="DataPresenca" value="@ViewData["FiltroDataPresenca"]" />*@
            @* Data Presença: <input type="date" name="DataPresenca" value="@DateTime.Now.ToString("yyyy-MM-dd")" /> *@
            Data Inicio: <input type="date" name="DataInicial" value="@ViewData["FiltroDataInicial"]" />
            Data Fim: <input type="date" name="DataFinal" value="@ViewData["FiltroDataFinal"]" />


            <input type="submit" value="Pesquisar" class="btn btn-primary" /> 
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Data
            </th>
            <th>
                Nome
            </th>
            <th>
                Modalidade
            </th>
            <th>
                Professor
            </th>
@*             <th>
                Turno
            </th>
 *@            
            <th>
                Dia Venc.
            </th>
            <th>
                Último Pgto.
            </th>
   @*          <th>
                Situação
            </th>
    *@         

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style= "color: @(item.UltimoPagamento < DateTime.Now.Date.AddDays(-30) ? "red" : "black");">
                <td>
                    @Html.DisplayFor(modelItem => item.DataPresenca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeModalidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeProfessor)
                </td>

@*                 <td>
                    @Html.DisplayFor(modelItem => item.NomeTurno)

                     <select asp-for=@item.IdTurno class="form-control" asp-items="ViewBag.TurnoId"></select> 
                </td>
 *@
                <td>
                    @Html.DisplayFor(modelItem => item.DataCadastro.Date.Day)
                </td>

                <td style="font-weight:bold">
                    @if(item.UltimoPagamento != DateTime.MinValue)
                    {
                        @Html.DisplayFor(modelItem => item.UltimoPagamento)
                    }
                    else
                    {
                        @: SEM REGIST.
                    }
                </td>
@*                 <td>
                    @if(item.UltimoPagamento < DateTime.Now.Date.AddDays(-30))
                    {
                        @: EM ATRASO
                        //@Html.Display("Em Atraso")
                    }
                    else
                    {
                        @: EM DIA
                    }
                </td>
 *@

                @*<td>
                <a asp-action="Edit" asp-route-id="@item.IdPresenca">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPresenca">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPresenca">Delete</a>
            </td>*@
        </tr>
        }
    </tbody>
</table>
