@model CONTROLECT.Models.Mensalidade

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Mensalidade - Detalhe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroRecibo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroRecibo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAtletaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAtletaNavigation.NomeCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdModalidadeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdModalidadeNavigation.NomeModalidade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdMensalidade">Editar</a> |
    <a asp-action="Index" class="btn btn-info">Voltar</a>
</div>
